body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90vh;
  background-color: #faf0f2;
  font-size: 1em;
}

/* Switch */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 5em;
  height: 2.5em;
  user-select: none;
  margin: 1rem;
}

.switch .cb {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  background-color: #c87d80;
  border-radius: 0.1em;
  transition: 0.4s;
  text-transform: uppercase;
  font-weight: 700;
  overflow: hidden;
  box-shadow: -0.3em 0 0 0 #c87d80, -0.3em 0.3em 0 0 #c87d80,
    0.3em 0 0 0 #c87d80, 0.3em 0.3em 0 0 #c87d80, 0 0.3em 0 0 #c87d80;
}

.toggle > .left {
  position: absolute;
  display: flex;
  width: 50%;
  height: 88%;
  background-color: #f3f3f3;
  color: #c87d80;
  left: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
  transform-origin: right;
  transform: rotateX(10deg);
  transform-style: preserve-3d;
  transition: all 150ms;
}

.left::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #f9dadc;
  transform-origin: center left;
  transform: rotateY(90deg);
}

.left::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgb(239, 181, 186);
  transform-origin: center bottom;
  transform: rotateX(90deg);
}

.toggle > .right {
  position: absolute;
  display: flex;
  width: 50%;
  height: 88%;
  background-color: #f3f3f3;
  color: rgb(239, 181, 186);
  right: 1px;
  bottom: 0;
  align-items: center;
  justify-content: center;
  transform-origin: left;
  transform: rotateX(10deg) rotateY(-45deg);
  transform-style: preserve-3d;
  transition: all 150ms;
}

.right::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #f9dadc;
  transform-origin: center right;
  transform: rotateY(-90deg);
}

.right::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgb(239, 181, 186);
  transform-origin: center bottom;
  transform: rotateX(90deg);
}

.switch input:checked + .toggle > .left {
  transform: rotateX(10deg) rotateY(45deg);
  color: rgb(239, 181, 186);
}

.switch input:checked + .toggle > .right {
  transform: rotateX(10deg) rotateY(0deg);
  color: #c87d80;
}

/* Cards */
.card {
  width: 40rem;
  height: 40rem;
  border-radius: 20px;
  background: #fcfdfc;
  position: relative;
  padding: 1rem;
  border: 2px solid #d9d9d9;
  transition: 0.5s ease-out;
  overflow: visible;
}

.card-details {
  color: #c87d80;
  height: 100%;
  gap: 0.5em;
  display: grid;
  place-content: center;
  place-items: center;
}

.card-button {
  transform: translate(-50%, 99%);
  width: 20%;
  border-radius: 1rem;
  border: none;
  background-color: #c87d80;
  color: #fff;
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
  text-align: center;
}

.text-body {
  color: rgb(200, 125, 128);
}

/*Text*/
.text-title {
  font-size: 1.8em;
  font-weight: bold;
  text-align: center;
}

/*Hover*/
.card:hover {
  border-color: #c87d80;
  box-shadow: 0 4px 18px 0 rgba(200, 125, 128, 0.25);
}

.card:hover .card-button {
  transform: translate(-50%, 50%);
  opacity: 1;
  text-align: center;
}

img {
  max-height: 25rem;
  max-width: 25rem;
  border-radius: 1rem;
}

i {
  margin: 50px;
  cursor: pointer;
}

footer {
  flex-shrink: 0;
  background-color: #f9dadc;
  color: #797878;
  box-shadow: 0 -2px 10px rgba(200, 125, 128, 0.5);
  border-top: 1px solid #ede5f0;
  width: 100%;
  height: 20px;
  text-align: center;
  padding: 7px;
  position: fixed;
  bottom: 0;
}

small {
  font-family: "Nunito Sans", sans-serif;
  font-weight: bold;
  font-size: 12px;
}

small > a {
  color: #797878;
  font-size: 13px;
}

.dark.mode body {
  background-color: #fffefe;
}
